<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pipi.pipix">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <package android:name="com.google.android.googlequicksearchbox"/>
    </queries>

    <application
        android:name=".config.ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_main_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PipiX">

        <activity
            android:name=".src.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity
            android:name=".src.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".src.chart.ChartActivity"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".src.consent.ConsentActivity"
            android:theme="@style/DialogTheme" />
        <activity android:name=".src.consent.contents.ContentsActivity"
            android:theme="@style/DialogTheme" />
        <activity android:name=".src.warning.WarningActivity"
            android:theme="@style/DialogTheme" />
        <activity android:name=".src.speechresult.SpeechResultActivity"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".src.deleteitem.DeleteItemActivity"
            android:theme="@style/DialogTheme" />

    </application>

</manifest>